@font-face {
  font-family: "MyFont";
  src: url("../assets/fonts/Notosans_Condensed-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

html,
body {
  font-family: "MyFont", sans-serif;
}
