@font-face {
  font-family: 'MyFont';
  src: url('/font/NotoSans_Condensed-Regular.ttf')format('truetype');
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}